<% if (msg) { %>
  <br>
  <div class="alert alert-danger alert-dismissible text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <b><%= msg %></b>
  </div>
<% } %>

<form action="<%= app.config.host%>/post" method="post" id="frmAddCreatePost" class="mb-4" enctype="multipart/form-data">
  <div class="form-group">
  <label for="comment" class="h3 font-weight-bold">Create Post</label>
  <textarea class="form-control border-0  p-2" rows="1" id="txtPost" name="txtPost" placeholder="Write Your Post here"></textarea>
  </div>
  <div class="d-flex justify-content-between mb-3">
    <div>
      <button type="button" class="btn btn-light" id="btnAddMedia">Add Video/Image</button>
      <input type="file" name="filePostsMedia" id="filePostsMedia" hidden />
    </div>
    <div><button type="submit" class="btn btn-primary ">Create Post</button></div>
  </div>
</form>

<hr>

<ul class="nav nav-tabs nav-justified lead font-weight-bolder mt-4">
  <li class="nav-item">
    <a class="nav-link active" href="#">Text</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Images</a>
  </li>
</ul>
<br>